.mensajeria-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    max-height: 500px;
    background-color: #242424;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: all 0.3s;
  }
  
  .mensajeria-popup.minimizado {
    height: 40px;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    cursor: move;
  }
  
  .mensajes {
    max-height: 300px;
    overflow-y: auto;
    
  }
  
  .mensaje {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(85, 85, 85) ;
  }
  
  .enviado {
    justify-content: flex-end;
  }
  
  .enviado .mensaje-contenido {
    display: flex;
    align-items: center;
  }
  
  .enviado .mensaje-texto {
    order: 1;
    color: white;
  }
  
  .enviado .profile-picture {
    order: 2;
    margin-left: 10px;
  }
  
  .recibido {
    justify-content: flex-start;
  }
  
  .recibido .mensaje-contenido {
    display: flex;
    align-items: center;
  }
  
  .recibido .profile-picture {
    margin-right: 10px;
  }

.mensajes .profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: auto;
}
  