/* Contenedor principal del perfil */
.perfil-container {
  color: white;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  width: 100%;
  max-width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Cabecera del perfil */
.perfil-header {
  position: relative;
  padding: 0 20px;
}

/* Foto de portada */
.cover-photo {
  height: 150px;
  background-color: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Información del perfil */
.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.perfil-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Foto de perfil */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -11em;
}

/* Detalles del perfil */
.perfil-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.perfil-nombre {
  margin-top: 10px;
}

.perfil-username {
  margin-top: -10px;
  color: #c8ced2;
  font-size: 14px;
}

/* Biografía */
.perfil-bio {
  margin-top: 10px;
  margin-left: -7em;
}

.bio {
  font-size: 14px;
  color: #c8ced2;
}

/* Cuerpo del perfil */
.perfil-body {
  padding: 10px 20px;
}

/* Estadísticas del perfil */
.perfil-stats p {
  margin: 5px 0;
  font-size: 14px;
}

/* Devocionales */
.perfil-devocionales {
  margin-top: 20px;
}

/* Devocional Item */
.devocional-item {
  padding: 10px;
  margin-top: 10px;
  text-align: center; /* Centrar el contenido del devocional */
  border-radius: 5px;
  border: 3px solid rgb(227, 225, 225);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%; /* Espacio debajo de cada devocional */
}

/* Devocional Descripción */
.devocional-descripcion {
  max-width: 100%; /* Asegurarse de que no se desborde el ancho del contenedor */
  margin: 0 auto; /* Centrar el contenido de la descripción */
}

/* Editor Quill dentro de la descripción */
.devocional-descripcion .ql-editor {
  text-align: left; /* Alinear texto a la izquierda dentro del editor Quill */
  max-width: 100%;
}

/* Fecha del Devocional */
.devocional-fecha, .devocional-autor {
  text-align: center; /* Centrar el texto de la fecha y el autor */
  font-size: 14px;
  color: #ffffff;
  margin: 10px 0;
}

/* Estilo para el botón de enviar mensaje */
.enviarMensajeButton {
  background-color: #244cfe; /* Cambia el color del botón si lo deseas */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0; /* Ajusta el margen superior e inferior si es necesario */
}

.enviarMensajeButton:hover {
  background-color: #013680; /* Color al pasar el cursor */
}

/* Contenedor de botones */
.botones-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los botones a la izquierda o ajusta según tu diseño */
}

/* Línea Horizontal entre devocionales */
.devocional-separador {
  border: 0;
  border-top: 3px solid #a6a6a6; /* Color y grosor de la línea */
  margin-bottom: 10%; /* Espacio arriba y abajo de la línea */
}


/* Colores Claros */
@media (prefers-color-scheme: light) {
  .perfil-container {
  color: rgb(39, 39, 39);
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  width: 100%;
  max-width: 50%;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Cabecera del perfil */
.perfil-header {
  position: relative;
  padding: 0 20px;
}

/* Foto de portada */
.cover-photo {
  height: 150px;
  background-color: #1da1f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Información del perfil */
.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.perfil-main {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Foto de perfil */
.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #e4e4e4;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(69, 69, 69, 0.1);
  margin-top: -40px;
}

/* Detalles del perfil */
.perfil-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.perfil-details h2 {
  margin: 0;
  font-size: 20px;
  color: rgb(74, 74, 74);
  margin-top: -10px;
}

.perfil-nombre {
  margin-top: -20px;
}

.perfil-username {
  margin-top: -10px;
  color: #323232;
  font-size: 14px;
}

/* Biografía */
.perfil-bio {
  margin-top: -20px;
}

.bio {
  font-size: 14px;
  color: #565656;
}

/* Cuerpo del perfil */
.perfil-body {
  padding: 10px 20px;
}

/* Estadísticas del perfil */
.perfil-stats p {
  margin: 5px 0;
  font-size: 14px;
}
/* Devocionales */
.perfil-devocionales {
  margin-top: 20px;
  
}

/* Devocional Item */
.devocional-item {
  padding-top: 10px;
  margin-top: 10px;
  text-align: center; /* Centrar el contenido del devocional */
  border-radius: 5px;
  border: 3px solid rgb(193, 193, 193);
}

/* Devocional Descripción */
.devocional-descripcion {
  display: flex;
  justify-content: center; /* Centrar horizontalmente el contenido del Quill */
  align-items: center; /* Centrar verticalmente el contenido del Quill */
  max-width: 100%;
}

.devocional-descripcion .ql-editor {
  text-align: center; /* Centrar el texto dentro del editor Quill */
  max-width: 100%;
}

/* Fecha del Devocional */
.devocional-fecha, .devocional-autor {
  text-align: center; /* Centrar el texto de la fecha y el autor */
  font-size: 14px;
  color: #6d6d6d;
  margin: 10px 0;
}
}